<div id="<%= dom_id beerclub %>">
  <p>
    <strong>Name:</strong>
      <%= link_to "#{beerclub.name}", beerclub %>
  </p>

  <p>
    <strong>Founded:</strong>
    <%= beerclub.founded %>
  </p>

  <p>
    <strong>City:</strong>
    <%= beerclub.city %>
  </p>

</div>
